body,dd,div,dt,h1,h2,h3,h4,h5,h6,html,li,ol,p,span,table,ul {
	margin: 0;
	padding: 0
}

li,ul {
	list-style: none
}

a {
	text-decoration: none
}

.dc_left {
	float: left
}

.dc_right {
	float: right
}

.dc_clear {
	content: "";
	display: block;
	clear: both
}

.dc_mar_center {
	margin: 0 auto
}

.dc_title {
	font: 30px 华文楷体;
	color: red;
	text-align: center;
	text-shadow: 0 0 3px #7e0000
}

.dc_pointer {
	cursor: pointer
}

.dc_c_red {
	color: red
}

.icon {
	width: 1.5em;
	height: 1.5em;
	vertical-align: -.15em;
	fill: currentColor;
	overflow: hidden;
	color: #fff;
	cursor: pointer;
	transition: .5s
}

.icon:hover {
	transform: scale(1.5)
}

.music {
	width: 1000px;
	height: 600px;
	margin: 50px auto 0;
	position: relative
}

.playerBg {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: .3
}

.ver {
	width: 0;
	height: 100%;
	vertical-align: middle;
	visibility: hidden
}

.player {
	width: 100%;
	height: 100%;
	position: absolute;
	color: #fff
}

.player .musicBox {
	width: 30%;
	height: 100%;
	box-shadow: -1px 1px 10px #fff;
	-webkit-box-shadow: -1px 1px 10px #fff;
	-moz-box-shadow: -1px 1px 10px #fff;
	-o-box-shadow: -1px 1px 10px #fff
}

.player .musicBox .header {
	width: 100%;
	height: 8%;
	background: rgba(255,255,255,.3)
}

.player .musicBox .header ul {
	width: 100%;
	height: 100%
}

.player .musicBox .header li {
	height: 100%;
	font: 15px "Times New Roman";
	box-sizing: border-box
}

.player .musicBox .header .logo {
	width: 12%;
	height: 100%;
	margin-left: 10px
}

.player .musicBox .header .logo img {
	margin-top: 8%;
	width: 100%;
	height: 80%
}

.player .musicBox .header .dc_icon {
	text-align: right;
	padding: 2%
}

.player .musicBox .header .dc_icon .icon {
	width: 1.2em;
	height: 1em
}

.player .musicBox .nav {
	width: 100%;
	height: 6%;
	background: rgba(255,255,255,.2)
}

.player .musicBox .nav ul {
	width: 100%;
	height: 100%;
	margin-left: -1%
}

.player .musicBox .nav li {
	width: 20%;
	height: 100%;
	box-sizing: border-box;
	text-align: center;
	padding: 2%;
	float: left
}

.player .musicBox .nav li .icon {
	color: #6fff2d
}

.player .musicBox .nav_detail {
	width: 100%;
	height: 70%;
	background: rgba(255,255,255,.1);
	position: relative
}

.player .musicBox .nav_detail div {
	width: 100%;
	height: 100%;
	position: absolute;
	font: 50px "华文楷体";
	text-align: center;
	line-height: 400px;
	display: none
}

.player .musicBox .nav_detail .on {
	display: block
}

.player .musicBox .musicPlayer {
	width: 100%;
	height: 16%;
	background: rgba(255,255,255,.2)
}

.player .musicBox .musicPlayer .feature {
	width: 100%;
	height: 60%;
	padding: .5em;
	box-sizing: border-box
}

.player .musicBox .musicPlayer .feature .btn_basic {
	width: 50%;
	height: 100%;
	float: left;
	padding: .75em 0;
	box-sizing: border-box
}

.player .musicBox .musicPlayer .feature .btn_basic .pause,.player .musicBox .musicPlayer .feature .btn_basic .play {
	transform: scale(2);
	margin: 0 1em
}

.player .musicBox .musicPlayer .feature .btn_basic .noDisplay {
	display: none
}

.player .musicBox .musicPlayer .feature .others {
	width: 50%;
	height: 100%;
	float: left;
	text-align: right;
	padding: 1em 0;
	box-sizing: border-box
}

.player .musicBox .musicPlayer .feature .others .icon {
	width: 1em;
	height: 1em
}

.player .musicBox .musicPlayer .progressBar {
	width: 90%;
	height: 30%;
	margin: 1% 5% 5%;
	transition: all .2s;
	position: relative;
	box-sizing: border-box
}

.player .musicBox .musicPlayer .progressBar .time {
	width: 100%;
	font: 12px "Times New Roman";
	margin-bottom: 2px
}

.player .musicBox .musicPlayer .progressBar .time:after {
	content: "";
	display: block;
	clear: both
}

.player .musicBox .musicPlayer .progressBar .barBg {
	position: absolute;
	width: 100%;
	height: 3px;
	background: #ccc;
	border-radius: 1.5px 1.5px 1.5px 1.5px;
	-webkit-border-radius: 1.5px 1.5px 1.5px 1.5px;
	-moz-border-radius: 1.5px 1.5px 1.5px 1.5px
}

.player .musicBox .musicPlayer .progressBar .barFg {
	position: absolute;
	width: 100px;
	height: 3px;
	background: linear-gradient(to left,#438aff,#cdfff7);
	border-radius: 1.5px 1.5px 1.5px 1.5px;
	-webkit-border-radius: 1.5px 1.5px 1.5px 1.5px;
	-moz-border-radius: 1.5px 1.5px 1.5px 1.5px
}

.player .musicBox .musicPlayer .progressBar .barSlide {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	left: 90px;
	top: -3.5px;
	background: linear-gradient(to right,#438aff,#fff,#438aff);
	cursor: pointer
}

.player .extensions {
	width: 70%;
	height: 100%;
	visibility: hidden;
	box-shadow: 1px 1px 10px #fff;
	-webkit-box-shadow: 1px 1px 10px #fff;
	-moz-box-shadow: 1px 1px 10px #fff;
	-o-box-shadow: 1px 1px 10px #fff;
	font: 50px '华文楷体';
	text-align: center;
	line-height: 200px
}

body {
	background: url(../resource/images/bg10.png) fixed no-repeat;
	background-size: 100% 100%
}